<!DOCTYPE html>
<%-include("partials/header.ejs")%>

    <!--Copiar Header and footer depois-->
    <h1>Login:</h1>
    <form action="/check" method="post">
        <label for="password">Insira sua senha aqui:</label>
        <input type="password" name="password">
        <input type="submit" value="OK">

    </form>
    
<%-include("partials/footer.ejs")%>
