<!DOCTYPE html>

<%-include ("partials/header.ejs")%>



    <div class="container d-flex mb-3">
        <form action="/submit" method="post">
            <label for="title" class="form-label" >Titulo da Poesia </label><br>
            <input type="text" name="title" required class="form-control"> <br>
            <label for="title" class="form-label" >Autor da Poesia </label><br>
            <input type="text" name="autor" required class="form-control"> <br>
            <label for="poetry" class="form-label">Corpo do poema</label><br>
            <textarea name="body" id="" cols="50" rows="20" wrap="hard" resize="none" required placeholder="Insira o poema aqui" class="form-control"></textarea><br>
            <input type="submit" value="Enviar Poesia" class="btn btn-primary"><br>

        </form>

    </div>


<%- include("partials/footer.ejs")%>
